<ion-view title="AdminPOI" id="page11">
  <ion-content padding="true" class="has-header">
    <a ui-sref="adminAddPointOfInterest()" id="adminPOI-button22" class="button button-positive button-block icon ion-android-add"> Add Point of Interest</a>
    <ion-list id="adminPOI-list10">
      <label class="item item-select" id="adminPOI-select3">
        <span class="input-label">Filter Category</span>
        <select>
          <option>All</option>
          <option>Food</option>
          <option>Residences</option>
          <option>Historical</option>
          <option>Activities</option>
          <option>Sports</option>
          <option>Toilets</option>
          <option>Administration</option>
        </select>
      </label>
      <ion-item ng-repeat="poi in poilist" class="item-icon-right assertive" id="adminUsers-list-item105"><b>{{poi.locationName}}</b> &nbsp; &nbsp; &nbsp;{{poi.coordinates}} &nbsp; &nbsp; &nbsp;
        <b>{{poi.type}}</b>
        <a ui-sref="adminEditPointOfInterest()"><i class="icon ion-edit"></i></a>
      </ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
