<ion-view title="Admin Edit Point of Interest" id="page18">
  <ion-content padding="true" class="has-header">
    <form id="adminEditPointOfInterest-form17" class="list">
      <label class="item item-select" id="adminEditPointOfInterest-select7">
        <span class="input-label">Category</span>
        <select>
          <option>Food</option>
        </select>
      </label>
      <label class="item item-input" id="adminEditPointOfInterest-input40">
        <input type="text" placeholder="Venue Name">
      </label>
      <label class="item item-input" id="adminEditPointOfInterest-input41">
        <input type="text" placeholder="latitude">
      </label>
      <label class="item item-input" id="adminEditPointOfInterest-input42">
        <input type="text" placeholder="longitude">
      </label>
    </form>
    <a ui-sref="adminPOI()" id="adminEditPointOfInterest-button29" class="button button-positive button-block">Confirm</a>
  </ion-content>
</ion-view>