<ion-view title="Admin Add Point of Interest" id="page17">
  <ion-content padding="true" class="has-header">
    <form id="adminAddPointOfInterest-form14" class="list">
      <label class="item item-select" id="adminAddPointOfInterest-select5">
        <span class="input-label">Category</span>
        <select>
          <option>Food</option>
        </select>
      </label>
      <label class="item item-input" id="adminAddPointOfInterest-input27">
        <input type="text" placeholder="Venue Name">
      </label>
      <label class="item item-input" id="adminAddPointOfInterest-input34">
        <input type="text" placeholder="latiitude">
      </label>
      <label class="item item-input" id="adminAddPointOfInterest-input35">
        <input type="text" placeholder="longitude">
      </label>
    </form>
    <a ui-sref="adminPOI()" id="adminAddPointOfInterest-button28" class="button button-positive button-block">Confirm</a>
  </ion-content>
</ion-view>