<ion-view title="AdminPOI" id="page11">
  <ion-content padding="true" class="has-header">
    <a ui-sref="adminAddPointOfInterest()" id="adminPOI-button22" class="button button-positive button-block icon ion-android-add"> Add Point of Interest</a>
    <ion-list id="adminPOI-list10">
      <label class="item item-select" id="adminPOI-select3">
        <span class="input-label">Filter Category</span>
        <select>
          <option>Food</option>
          <option>Residences</option>
          <option>Historical</option>
          <option>Activities</option>
          <option>Sports</option>
          <option>Toilets</option>
          <option>Administration</option>
        </select>
      </label>
      <label class="item item-input" id="adminPOI-search5">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Venue Search">
      </label>
      <ion-item class="item-icon-right assertive" id="adminPOI-list-item97">Venue Name &nbsp; &nbsp;
        <b>ROOMNUM</b>
        <i class="icon ion-edit"></i>
      </ion-item>
      <ion-item class="item-icon-right assertive" id="adminPOI-list-item99">Venue Name &nbsp; &nbsp;
        <b>ROOMNUM</b>
        <i class="icon ion-edit"></i>
      </ion-item>
      <ion-item class="item-icon-right assertive" id="adminPOI-list-item98">Venue Name &nbsp; &nbsp;
        <b>ROOMNUM</b>
        <i class="icon ion-edit"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
