<ion-view title="Admin Add Location" id="page14">
  <ion-content padding="true" class="has-header">
    <button id="adminAddLocation-button25" class="button button-assertive button-block icon ion-android-compass"> Get Current Location</button>
    <div class="spacer" style="height: 100px;"></div>
    <form id="adminAddLocation-form15" class="list">
      <label class="item item-input" id="adminAddLocation-input29">
        <input type="text" placeholder="Building">
      </label>
      <label class="item item-input" id="adminAddLocation-input31">
        <input type="text" placeholder="Floor">
      </label>
      <label class="item item-input" id="adminAddLocation-input30">
        <input type="text" placeholder="Room Name">
      </label>
      <label class="item item-input" id="adminAddLocation-input32">
        <input type="text" placeholder="latitude">
      </label>
      <label class="item item-input" id="adminAddLocation-input33">
        <input type="text" placeholder="longitude">
      </label>
    </form>
    <a ui-sref="adminLocations()" id="adminAddLocation-button27" class="button button-positive button-block">Confirm</a>
  </ion-content>
</ion-view>