<ion-view title="Admin Menu" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/A6VAjc9SBeYwtUlN4TdC_Untitled-1.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="adminMenu-list9">
      <ion-item class="item-icon-left assertive" id="adminMenu-list-item71" ui-sref="map()">
        <i class="icon ion-search"></i>Where to?</ion-item>
      <ion-item class="item-icon-left assertive" id="adminMenu-list-item76" ui-sref="map()">
        <i class="icon ion-map"></i>Map</ion-item>
      <ion-item class="item-icon-left assertive" id="adminMenu-list-item77" ui-sref="recentlyVisited()">
        <i class="icon ion-ionic"></i>Recently Visited Locations</ion-item>
      <ion-item class="item-icon-left assertive" id="menu-list-item17" ui-sref="pointOfInterests()">
        <i class="icon ion-ios-location"></i>Points of Interest</ion-item>
      <ion-item class="item-icon-left assertive" id="adminMenu-list-item78" ui-sref="adminPOI()">
        <i class="icon ion-location"></i>Manage Points of Interest</ion-item>
      <ion-item class="item-icon-left assertive" id="adminMenu-list-item79" ui-sref="adminLocations()">
        <i class="icon ion-android-bookmark"></i>Manage Locations</ion-item>
      <ion-item class="item-icon-left assertive" id="adminMenu-list-item80" ui-sref="adminUsers()">
        <i class="icon ion-person-add"></i>Manage Users</ion-item>
      <ion-item class="item-icon-left assertive" id="adminMenu-list-item81" ui-sref="userProfile()">
        <i class="icon ion-person"></i>My Profile</ion-item>
      <ion-item class="item-icon-left assertive" id="adminMenu-list-item82" ui-sref="login()">
        <i class="icon ion-close"></i>Log Out</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
