<ion-view title="Admin Edit Location" id="page16">
  <ion-content padding="true" class="has-header">
    <form id="adminEditLocation-form13" class="list">
      <label class="item item-input" id="adminEditLocation-input21">
        <input type="text" placeholder="Building">
      </label>
      <label class="item item-input" id="adminEditLocation-input23">
        <input type="text" placeholder="Floor">
      </label>
      <label class="item item-input" id="adminEditLocation-input22">
        <input type="text" placeholder="Room Name">
      </label>
      <label class="item item-input" id="adminEditLocation-input24">
        <input type="text" placeholder="latitude">
      </label>
      <label class="item item-input" id="adminEditLocation-input25">
        <input type="text" placeholder="longitude">
      </label>
    </form>
    <a ui-sref="adminLocations()" id="adminEditLocation-button26" class="button button-positive button-block">Confirm</a>
  </ion-content>
</ion-view>