<ion-view title="Guest Menu" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/A6VAjc9SBeYwtUlN4TdC_Untitled-1.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="guestMenu-list13">
      <ion-item class="item-icon-left assertive" id="guestMenu-list-item118" ui-sref="login()">
        <i class="icon ion-person"></i>Login</ion-item>
      <ion-item class="item-icon-left assertive" id="guestMenu-list-item113" ui-sref="map()">
        <i class="icon ion-search"></i>Where To?</ion-item>
      <ion-item class="item-icon-left assertive" id="guestMenu-list-item116" ui-sref="map()">
        <i class="icon ion-map"></i>Map</ion-item>
      <ion-item class="item-icon-left assertive" id="guestMenu-list-item117" ui-sref="pointOfInterests()">
        <i class="icon ion-location"></i>Points of Interest</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
