<ion-view title="Menu" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/A6VAjc9SBeYwtUlN4TdC_Untitled-1.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="menu-list3">
      <ion-item class="item-icon-left assertive" id="menu-list-item14" ui-sref="map()">
        <i class="icon ion-search"></i>Where To?</ion-item>
      <ion-item class="item-icon-left assertive" id="menu-list-item21" ui-sref="map()">
        <i class="icon ion-map"></i>Map</ion-item>
      <ion-item class="item-icon-left assertive" id="menu-list-item16" ui-sref="recentlyVisited()">
        <i class="icon ion-ionic"></i>Recently Visited Locations</ion-item>
      <ion-item class="item-icon-left assertive" id="menu-list-item17" ui-sref="pointOfInterests()">
        <i class="icon ion-ios-location"></i>Points of Interest</ion-item>
      <ion-item class="item-icon-left assertive" id="menu-list-item18" ui-sref="timetable()">
        <i class="icon ion-android-calendar"></i>Time Table</ion-item>
      <ion-item class="item-icon-left assertive" id="menu-list-item19" ui-sref="userProfile()">
        <i class="icon ion-android-person"></i>My Profile</ion-item>
      <ion-item class="item-icon-left assertive" id="menu-list-item20" ui-sref="login()">
        <i class="icon ion-close"></i>Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
