<ion-view title="NavUP" id="page1">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <a style="display:block;" ui-sref="guestMenu()">
        <img src="img/wiUhiIGQ42ViSx7nj2p3_navLaunch.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="guestMenu()" id="navUP-button19" style="left:-10px;" class="button button-positive button-full">Start</a>
    </div>
  </ion-content>
</ion-view>
