<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Register</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRegister()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div ng-controller="registerCtrl">
    <form ng-submit="doRegister()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Student Number</span>
          <input type="text" class="form-control" ng-model="registerData.studentNumber">
        </label>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" class="form-control" ng-model="registerData.studentName">
        </label>
        <label class="item item-input">
          <span class="input-label">Surname</span>
          <input type="text" class="form-control" ng-model="registerData.userSurname">
        </label>
        <label class="item item-input">
          <span class="input-label">Disabled? 0 or 1</span>
          <input type="number" class="form-control" ng-model="registerData.userDisabled">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="registerData.userPassword">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
        </label>
      </div>
    </form>
      <div class="buttons">
        <button id="registerButton" class="button button-energized" ng-click="login()">Login</button>
        <button id="guestButton" class="button button-balanced" ng-click="guest()">Guest</button>
      </div>
  </ion-content>
</ion-modal-view>
