<ion-view title="UserProfile" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="userProfile-form12" class="list">
      <h3 id="userProfile-heading1" style="text-align:center;">Update user information</h3>
      <label class="item item-input" id="userProfile-input18">
        <input type="text" placeholder="Name">
      </label>
      <label class="item item-input" id="userProfile-input17">
        <input type="text" placeholder="Surname">
      </label>
      <label class="item item-input" id="userProfile-input19">
        <input type="password" placeholder="Password">
      </label>
      <label class="item item-input" id="userProfile-input20">
        <input type="password" placeholder="Password2">
      </label>
      <ion-toggle toggle-class="toggle-positive" id="userProfile-toggle2">disabled</ion-toggle>
    </form>
    <button id="userProfile-button20" class="button button-positive button-block">Update</button>
  </ion-content>
</ion-view>